<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="header container">
        <h1>Error</h1>
    </div>
    <div class="container result-container">
        <p>An error occurred: {{ error_message }}</p>
        {% if error_details %}
            <p>Error details: {{ error_details }}</p>
        {% endif %}
        <a href="/">Go back</a>
    </div>
</body>
</html>
